.login {
  &-bg {
    background: url("../../../public/hci_bg.webp") no-repeat;
    background-size: cover;
  }

  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  @include respond(tab-port) {
    justify-content: center;
  }

  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);

  &__hero {
    @include respond(tab-port) {
      display: none;
    }

    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__main-text {
      font-size: 5rem;
      font-weight: bold;
      letter-spacing: 5px;
      margin: 0;
      @include stroke-width(2px);
      @include stroke-color(#111827);
      color: transparent;

      text-shadow: 6px 6px var(--accent);
    }

    &__description {
      color: #111827;
      font-family: "Assistant", sans-serif;
      font-weight: 600;
      font-style: normal;
      line-height: initial;
      text-align: center;
    }
  }
  &__content {
    width: 80%;

    font-family: "Assistant", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: initial;

    h1 {
      color: white;
      text-align: left;
      opacity: 0.8;
      margin-top: none;
    }

    .login-button-right-align {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-links {
      color: white;
      opacity: 0.8;
      padding-top: 5rem;

      p {
        text-align: center;
        margin: 0.3rem;
      }
      a {
        text-decoration: none;
        color: #90caf9;
      }

      .underline {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0;
          height: 2px;
          background-color: #90caf9;
          transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
        }
      }

      @media (hover: hover) and (pointer: fine) {
        .underline:hover::before {
          left: 0;
          right: auto;
          width: 100%;
        }
      }
    }
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__content-bg {
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);

    width: 80%;
    height: 100%;

    @include respond(tab-port) {
      width: 100%;
      box-shadow: none;
      border-radius: 0;
    }
  }
}
