.nav {
  // padding: 1rem;
  width: 100%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__paths {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__menu-button {
    position: relative;
    margin-right: auto;
  }

  &__sign-out-button {
    position: relative;
    margin-left: auto;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;

    padding: 0.5rem 2rem;
    @include respond(tab-port) {
      padding: 0.5rem 1rem;
    }

    &-button {
      padding: 0.5rem !important;
      border-radius: 2.5rem !important;

      color: black !important;

      &:hover {
        background-color: #f1f1f1 !important;
      }
    }
  }
}
