html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f8f8ff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.desktop-only {
  @include respond(tab-port) {
    display: none;
  }
}

.mobile-only {
  display: none;

  @include respond(tab-port) {
    display: inherit;
  }
}

.bg-disabled {
  background-color: transparent !important;

  &:hover {
    background-color: transparent !important;
  }
}

.contentframe {
  height: calc(100vh - 65px);
  width: 100%;
  overflow-y: scroll;
  padding: 1rem;
  @include respond(tab-port) {
    padding: 0.5rem;
  }
}
